<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>538248778613-uffedvqnjtp47924f8hdara566i09ndt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.538248778613-uffedvqnjtp47924f8hdara566i09ndt</string>
	<key>API_KEY</key>
	<string>AIzaSyDna1yrk-FoTnU4A4n0UxvTlhMoSwQSMTU</string>
	<key>GCM_SENDER_ID</key>
	<string>538248778613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myNotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-flutter-10</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-flutter-10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:538248778613:ios:e42d796792e0e8f450393c</string>
</dict>
</plist>